<div class="side-bar-header">
  <h2 class="health-category">
    マイページ
  </h2>
</div>

<div class="categories">
  <div class="main-category">
    <div class="category-name">
    <h4>ヘルスカテゴリー一覧</h4>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">予約ページ</a>
        </div>
      </div>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">身体測定ページ</a>
        </div>
      </div>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">お薬ページ</a>
        </div>
      </div>
    </div>
  </div>
</div>