<div class="side-bar-header">
  <h2 class="health-category">
    マイページ
  </h2>
</div>

<div class="categories">
  <div class="main-category">
    <div class="category-name">
      <h2>新規ヘルスカテゴリー登録</h2>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">新規予約</a>
        </div>
      </div>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">新規身体測定</a>
        </div>
      </div>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">新規お薬処方</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-category">
    <div class="category-name">
    <h2>ヘルスカテゴリー一覧</h2>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">予約一覧</a>
        </div>
      </div>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">身体測定一覧</a>
        </div>
      </div>
      <div class="sub-category">
        <div class="category-name">
          <a href="#">お薬一覧</a>
        </div>
      </div>
    </div>
  </div>
</div>